<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Fault_Ratio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/dw_fault_ratio.css' %}" />

<script>
    var container = document.querySelector('.container');
    var nav = document.querySelector('nav');

    container.addEventListener('mouseenter', function () {
        nav.classList.add('nav-hover');
    });

    container.addEventListener('mouseleave', function () {
        nav.classList.remove('nav-hover');
    });

    function myFunction(msg) {
        alert(msg);
        
    }
</script>

</head>
<body>
<div id="container01">
    <!--#############################################-->
    <nav class="nav scroll-hidden">
        <ul class="menu">
            <li>
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li><a href="#">Service+</a>
            <ul class="submenu">
                <li><a href="{% url 'repair_cost:index' %}">Repair Cost</a></li>
                <li><a href="{% url 'fault_ratio:index' %}">Fault Ratio</a></li>
            </ul></li>
            <li><a href="#">Support+</a>
                <ul class="submenu">
                    <li><a href="{% url 'post:index' %}">Post Board</a></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul></li>
                {% if user.is_authenticated %}
                <li><a href="#" onClick="jumpToID(event, 'support')">account</a>
                    <ul class="submenu">
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'accounts:update' %}">update</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>{% endif %}</li>
            <li><a href="{% url 'about' %}">About Us</a></li>
        </ul>
        </nav>
<!--#############################################-->
<main>
<section class="'bg01">
    <div class="container01">
        <img class='bg-cover' src = "{%static 'assets/images/repair01_black.jpg' %}">
                    <div id="bg01-title">
                        {% if result %}
                        {{result.ratio}}:{{result.complement}}
                        {% endif %}
                    </div>
                    <div id="bg01-text">
                        Enter a simple accident report, and the AI will estimate 
                        the likely percentage of fault based on past verdicts.
                    </div>
    </div>
</section><!--과실 비율을 출력-->

<section class="bg03">
        <div class="container03">
            <div id="bg03-box01">
                <div id="bg03-nullbox">
                </div>
                <div id="bg03-title">Accident Report</div>
            </div>
                <label>
                    <form {% if user.is_authenticated %}action="{% url 'fault_ratio:index' %}"{% endif %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="reportbox">
                            {{forms}}
                        </div>
                        <p id="bg03-p-submit">
                            <input id="bg03-submit" type="submit" value="submit" {% if user.is_anonymous %}onclick="myFunction('로그인 후 이용하세요!')"{% endif %}>
                        </p>
                    </form>
                </label>
        </div>
</section><!--사고 경위서 입력받는 텍스트 상자-->
</main>

<footer class="bg04" id="footer">
        <div id="bg04-02">AIVLE SCHOOL</div>
        <hr id="bg04-03-hr">
        <div class="bg04-03">
            <ul>
                <li>
                    <!--###### 이용약관 ######-->
                    <a href="{% url 'test' %}" onclick="goPrivacy(event)" class = "bg04-03-li">개인정보 처리방침 이용약관</a>
                    <script>
                        function goPrivacy(event) {
                            event.preventDefault();  // 링크 클릭 시 기본 동작(페이지 이동)을 막음
                            // 팝업 창 열기
                            window.open('/test/', '_blank', 'width=600,height=500,scrollbars=yes');
                        }
                    </script>
                    <!--##############-->
                </li>
                <li><a href="{% url 'contact' %}" class="bg04-03-li">Contact Us</a></li>
                <li><a href="{% url 'about' %}" class="bg04-03-li">About Us</li>
            </ul>
        </div>
        <footer class="bg04-04">
            <div id="bg04-04-01"></div>
            <div class="bg04-04-01">Copyright 2023 AIVLE 2-5.</div>
        </footer>
</footer>
</div>
</body>
</html>