@font-face {
    font-family: 'Jonkey One';
    src: url('../css/font/Jockeyone.ttf') format('truetype');
}@font-face {
    font-family: 'Jeju Gothic';
    src: url('../css/font/JejuGothic.ttf') format('truetype');
}
:root{
    --base-font-family: 'Jeju Gothic';
    --title-font-family: 'Jonckey One';
  
    --lightgreen : #003702;
    --green : #CDE1CF;
    --darkgreen : #002001;
    --lightviolet : #D686CE;
    --lightgray: #B5B5B5;
  }

body, html{
    /* height: 100%; */
    margin: 0;
    padding: 0;
    background-color: #003702;
}
#container01{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

/*###########################################*/
/*네비바 부분*/
nav{
  z-index: 99;
  height: 5vh;
  width: 100%;
  position: fixed;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.menu {
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Jonkey One;
}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #002001;
}

.menu a {
  color: #CDE1CF;
}

.submenu > li {
  line-height: 50px;
  background-color: #003702;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
  margin-right: 2em;
}


.menu > li:hover {
  background-color: #003702;
  transition-duration: 0.5s;
  /* border-radius: 10px; */
}
.menu > li:hover .submenu li:hover{
  background-color: #002001;
  border-radius: 10px;
}
.menu > li:hover .submenu {
  height: 110px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 0.7s;
}
/*######################################*/
/*타이틀/ 이미지 배경 부분*/
.container00{
    margin-bottom: 250px;
}
.bg02{
    width: 100%;
    display: flex;
    height: 70%;
    /* position: relative; */
    margin-bottom: 5em;
}
.bg02 .bg02-left{
    justify-content: center;
    z-index: 1;
    width: 55%;
}
#bg02-title{
    font-family: Jonkey one;
    font-weight: 400;
    font-size: 30px;
}
#bg02-text{
    font-size: small;
}
#bg02-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*##########################*/
/*큰 제목 부분*/
.bg-cover{
    opacity: 0.1;
    max-height: 500px;
    z-index: 1;
    /* height: 30%; */
}
.bg02-right{
    z-index: 1;
    width: 55%;
    justify-content: right;
}
main{
    flex-grow: 1;
    /* overflow-y: auto; */
}
.bg02-01{
    display: block;
    z-index: 3;
    position: absolute;
    /* vertical-align: middle; */
}
#main-title{
    width: 100%;
    font-size: 140px;
    font-weight: 580;
    font-family: Jonkey One;
    color: #CDE1CF;
    text-shadow: 0px 6px #D686CE;

    margin-left: 30%;
}
/*#######################################*/
/*질문 등록 구간*/
.bg03-01{
    z-index: 3;
    position: relative;
    width: 100%;
    top: 13em;
    border: 3px solid #CDE1CF;
    margin-bottom: 5em;
    margin-left: 30%;
    height: 500px;
}
.bg03-01 div{
    color: #CDE1CF;
    margin: 2em;
    width: 80%;
}
#bg03-title input{
    border: 3px solid #CDE1CF;
    border-radius: 5px;
    background-color: #003702;
    color: #CDE1CF;
    width: 100%;
    margin-top: 5px;
}
#bg03-img input{
    border: 3px solid #CDE1CF;
    border-radius: 5px;
    background-color: #003702;
    color: #CDE1CF;
    width: 100%;
    margin-top: 5px;
}
#bg03-textarea textarea{
    border: 3px solid #CDE1CF;
    border-radius: 5px;
    background-color: #003702;
    color: #CDE1CF;
    width: 100%;
    height: 10em;
    margin-top: 5px;
}
#bg03-submit button{
    font-family: Jonkey One;
    border: 3px solid #CDE1CF;
    border-radius: 10px;
    background-color: #003702;
    color: #CDE1CF;
    width: 30%;
    margin-top: 5px;
}
#bg03-submit button:hover{
    border: 3px solid #CDE1CF;
    border-radius: 10px;
    background-color: #CDE1CF;
    color: #003702;
}
/*#######################################*/
/*이미지 미리보기 구간*/
.bg03-02{
    z-index: 3;
    position: relative;
    /* width: 300px; */

    right: 40%;
    top: 13em;
    border: 3px solid #CDE1CF;
    margin-bottom: 5em;
    color: #CDE1CF;
    font-family: Jeju Gothic;
    text-align: left;
    padding: 10px;
    height: 480px;
    width: 100%;
}
.bg03-preview{
    width: 100%;
    padding-right: 1em;
}
#bg03-preview{
    padding: 10px;
    width: 100%;
    height: 100%;
}
/*#######################################*/
/*footer부분*/
.bg04 {
  background-color: var(--green);
  color: var(--lightgreen);
  font-family: Jeju Gothic;
  width: 100%;

}

#bg04-01 {
  height: 50px;
}

#bg04-01-01 {
  border-color: var(--lightgreen);
}

#bg04-02 {
  margin-top: 0%;
  margin-left: 20%;
  font-family: Jonkey One;
  font-size: 100px;
  font-weight: bold;
}
#bg04-03-hr{
  border: 1px solid var(--lightgreen);
  width: 60%;
  background-color: var(--green);
}
/*###############################*/
.bg04-02 {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.bg04-02 .bg04-02-img {
  padding: 2px;
}

/*###############################*/
.bg04-03{
  margin-left: 18%;
}
.bg04 .bg04-03 {
  display: flex;
}

.bg04 .bg04-03 ul {
  list-style: none;
}

.bg04 #bg04-03-01 {
  width: 70%;
}

.bg04 .bg04-03-01 {
  float: right;
  width: 15%;
  text-align: left;
}

.bg04 .bg04-03-01 li {
  padding-top: 3px;
}

.bg04-04 {
  width: 100%;
  display: flex;
}

.bg04-04 #bg04-04-01 {
  width: 68%;
}

.bg04-04 .bg04-04-01 {
  text-align: left;
  width: 32%;
}
.bg04-03-li{
  font-family: Jeju Gothic;
  color: var(--lightgreen);
}
.bg04-03-li:visited{
  color: var(--lightgreen);
}
.bg04-03-li:hover{
  color:var(--lightviolet);
}
.bg04-03 >ul{
  display: flex;
}
.bg04-03>ul li{
  margin-right: 1em;
}