@font-face {
    font-family: 'Jonkey One';
    src: url('../css/font/Jockeyone.ttf') format('truetype');
}@font-face {
    font-family: 'Jeju Gothic';
    src: url('../css/font/JejuGothic.ttf') format('truetype');
}
:root{
  --base-font-family: 'Jeju Gothic';
  --title-font-family: 'Jonckey One';

  --lightgreen : #003702;
  --green : #CDE1CF;
  --darkgreen : #002001;
  --lightviolet : #D686CE;
  --lightgray: #B5B5B5;
}
body, html{
    margin: 0;
    padding: 0;
    background-color: #003702;
}
#container01{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

/*###########################################*/
/*네비바 부분*/
nav{
  z-index: 99;
  height: 5vh;
  width: 100%;
  position: fixed;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.menu {
  padding: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: Jonkey One;
}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #002001;
}

.menu a {
  color: #CDE1CF;
}

.submenu > li {
  line-height: 50px;
  background-color: #003702;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
  margin-right: 2em;
}


.menu > li:hover {
  background-color: #003702;
  transition-duration: 0.5s;
  /* border-radius: 10px; */
}
.menu > li:hover .submenu li:hover{
  background-color: #002001;
  border-radius: 10px;
}
.menu > li:hover .submenu {
  height: 110px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 0.7s;
}
/*######################################*/

.bg02{
    width: 100%;
    /* height: 100%; */
    display: flex;
    height: 20%;
    position: relative;
}
.bg02 .bg02-left{
    z-index: 1;
    width: 65%;

}
.bg02-text{
    font-family: Jeju Gothic;
    font-size: 20px;
    color: #CDE1CF;
    text-align: left;
    position: absolute;
    margin-left: 20%;

    top: 20em;
    right: 1em;
    bottom: 0;
    width: 65%;
    height: 50%;
}
.bg-cover{
    opacity: 0.3;
    width: 85%;
    height: 85%;
}
.bg02 .bg02-right{
    z-index: 1;
    width: 35%;
    height: 100%;
}
main{
    flex-grow: 1;
}

#bg02-title{
    font-size: 160px;
    font-weight: 580;
    font-family: Jonkey One;
    color: #CDE1CF;
    text-shadow: 0px 6px #D686CE;
    /* padding-left: 150px; */
    margin-left: 30%;
    width: 100%;
}
/*#######################################*/
.bg2_5{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.bg2_5-01{
    width: 60%;
    margin-top: 3em;
    margin-bottom: 4em;
}
table {
    width: 100%;
    color: #CDE1CF;
    border-top: 1px solid #CDE1CF;
    border-collapse: collapse;
    
  }
  th, td {
    border-bottom: 1px solid #CDE1CF;
    padding: 10px;
    text-align: center;
  }
  .question_title{
    color: var(--green);
  }
  .question_title:hover{
    color: var(--lightviolet);
  }
  .bg2_5-02{
    margin-left: 75%;
  }
  #submit{
    color: #CDE1CF;
    font-size: 20px;
    font-weight: 600;
    font-family: Junkey One;
    border-color: #CDE1CF;
    border-radius: 20px;
    background-color: #003702;
    width: 25%;
    height: 10%;
  }
  #submit:hover{
    background-color: #CDE1CF;
    color: #003702;
    border-color: #CDE1CF;
  }
  .pagination{
    display: flex;
    margin-left: 43%;
    font-family: Jeju Gothic;
    font-size: 20px;
    width: 20%;
  }
.pagination li a{
  color: var(--green);
  padding: 10px;
}
.page-link{
  border: 2px solid var(--green);
  border-radius: 20px;
}
.page-link:hover{
  background-color: var(--green);
  color: var(--lightgreen);
}
.page-link-num{
  border: none;
}
.page-link-num:hover{
  background-color: var(--lightgreen);
  color: #D686CE;
}
  /*#######################################*/

/*footer부분*/
.bg04 {
  background-color: var(--green);
  color: var(--lightgreen);
  font-family: Jeju Gothic;
  width: 100%;
}

#bg04-01 {
  height: 50px;
}

#bg04-01-01 {
  border-color: var(--lightgreen);
}

#bg04-02 {
  margin-top: 0%;
  margin-left: 20%;
  font-family: Jonkey One;
  font-size: 100px;
  font-weight: bold;
}
#bg04-03-hr{
  border: 1px solid var(--lightgreen);
  width: 60%;
  background-color: var(--green);
}
/*###############################*/
.bg04-02 {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.bg04-02 .bg04-02-img {
  padding: 2px;
}

/*###############################*/
.bg04-03{
  margin-left: 18%;
}
.bg04 .bg04-03 {
  display: flex;
}

.bg04 .bg04-03 ul {
  list-style: none;
}

.bg04 #bg04-03-01 {
  width: 70%;
}

.bg04 .bg04-03-01 {
  float: right;
  width: 15%;
  text-align: left;
}

.bg04 .bg04-03-01 li {
  padding-top: 3px;
}

.bg04-04 {
  width: 100%;
  display: flex;
}

.bg04-04 #bg04-04-01 {
  width: 68%;
}

.bg04-04 .bg04-04-01 {
  text-align: left;
  width: 32%;
}
.bg04-03-li{
  font-family: Jeju Gothic;
  color: var(--lightgreen);
}
.bg04-03-li:visited{
  color: var(--lightgreen);
}
.bg04-03-li:hover{
  color:var(--lightviolet);
}
.bg04-03 >ul{
  display: flex;
}
.bg04-03>ul li{
  margin-right: 1em;
}