<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>웹 페이지의 구성 요소</title>
<link href="{% static 'css/dw_post_result.css' %}" rel="stylesheet" type="text/css">

<script>
    var container = document.querySelector('.container');
    var nav = document.querySelector('nav');

    container.addEventListener('mouseenter', function () {
        nav.classList.add('nav-hover');
    });

    container.addEventListener('mouseleave', function () {
        nav.classList.remove('nav-hover');
    });

    function myFunction(msg) {
        alert(msg);
    }
</script>

</head>

<body>
<!--#############################################-->
<div id="container01">
        <!--################navi###################-->
        <nav class="nav scroll-hidden">
            <ul class="menu">
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                <li><a href="#">Service+</a>
                <ul class="submenu">
                    <li><a href="{% url 'repair_cost:index' %}">Repair Cost</a></li>
                    <li><a href="{% url 'fault_ratio:index' %}">Fault Ratio</a></li>
                </ul></li>
                <li><a href="#">Support+</a>
                    <ul class="submenu">
                        <li><a href="{% url 'post:index' %}">Post Board</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul></li>
                    {% if user.is_authenticated %}
                    <li><a href="#" onClick="jumpToID(event, 'support')">account</a>
                        <ul class="submenu">
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            <li><a href="{% url 'accounts:update' %}">update</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>{% endif %}</li>
                <li><a href="{% url 'about' %}">About Us</a></li>
            </ul>
            </nav>
        <!--################navi###################-->

<main>
<!-- <section class="'bg01"> -->
    <!-- <div class="container01"></div> -->

    <!-- <div class="container01"></div> -->
<!-- </section>과실 비율을 출력 -->

    <section class="bg02">
        <div class="bg02-01">
            {% comment %} <div id="title">
            "Post Board"
            </div> {% endcomment %}
        </div>
        <div class="container01">
        </div>
        <div class=" bg02 bg02-left">
            <div class="bg02-box01">
                <p id="bg02-title">{{ question.title }}</p>
                <p id="bg02-text">
                    {{ question.content }}
                </p>
            </div>
        </div>
        
        <div class="bg02 bg02-right">
            <div class="bg02-box02">
                {% if question.image %}
                    <img id="bg02-img" src="{{question.image.url}}">
                {% else%}
                    <img id="bg02-img" src="{%static 'assets/images/black5.jpg' %}">
                {% endif %}
            </div>
                <img class="bg-cover" src="{%static 'assets/images/img1.png' %}">
        </div>
    </section>

    <section class="bg2_5">
        <div class="bg2_5-01">
            <table>
                <thead>
                <tr>
                    <th>ID</th><th>User Comment</th><th>Date</th><th style="width:50px"></th>
                </tr>
                </thead>
                <tbody>
                {% for answer in question.answer_set.all %}
                    {% if answer.parent_answer == null %}
                        <tr>
                            <td>{{ answer.user }}</td>
                            <td>{{ answer.content }}</td>
                            {% if answer.create_date.date == today %}
                                <td>{{answer.create_date|date:'H:i'}}</td>
                            {% else %}
                                <td>{{answer.create_date|date:'y.m.d'}}</td>
                            {% endif %}
                            <td>{% if request.user == answer.user%}<a href="{% url 'post:answer_delete' answer.id  %}">삭제</a>{% endif %}</td>
                        </tr>
                        {% for reply in answer.answer_set.all %}
                            <tr>
                                <td>{{ reply.user }}</td>
                                <td>{{ reply.content }}</td>
                                <td>{{ reply.create_date }}</td>
                                <td>{% if user.is_authenticated %}<a href="{% url 'post:answer_delete' reply.id  %}">삭제</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

<!--##########################################-->
    <section class="bg03">
        <form class="bg03-01" method="POST" {% if user.is_authenticated %}action='{% url 'post:answer_create' question.id %}'{% endif %}>
            {% csrf_token %}
            <div id="bg03-textarea">
                <div><label for="content" class="form-label" id='bg03-comment'>Comment</label><div>
                <br>
                <textarea class="form-control bg03-textarea" name="content" id="content"></textarea>
            </div>
            <div>
                <button id="bg03-submit"{% if user.is_authenticated %}type="submit"{% else %}onclick="myFunction('로그인 후 이용하세요!')"
                {% endif %}>작성하기</button>
            </div>
        </form>
    </section>

    <br>
    <br>
    <div>
        {% if request.user == question.user %}
        <button id="bg03-submit" type="submit" onclick="location.href='{% url 'post:question_modify' question.id %}' ">수정</button>
        &nbsp;
        <button id="bg03-submit" type="submit" onclick="location.href='{% url 'post:question_delete' question.id %}' ">삭제</button>
        {% endif %}
    </div>
</main>

<!--##########################################-->
<footer class="bg04" id="footer">
		
    <div id="bg04-02">AIVLE SCHOOL</div>

    {% comment %} <div class="bg04-02">
        <img class='bg04-02 bg04-02-img' src="{% static 'assets/images/black5.jpg' %}">
        <img class='bg04-02 bg04-02-img' src="{% static 'assets/images/black5.jpg' %}">
        <img class='bg04-02 bg04-02-img' src="{% static 'assets/images/black5.jpg' %}">
        <img class='bg04-02 bg04-02-img' src="{% static 'assets/images/black5.jpg' %}">
        <img class='bg04-02 bg04-02-img' src="{% static 'assets/images/black5.jpg' %}">
        <img class='bg04-02 bg04-02-img' src="{% static 'assets/images/black5.jpg' %}">
        <img class='bg04-02 bg04-02-img' src="{% static 'assets/images/black5.jpg' %}">
    </div> {% endcomment %}
    <hr id="bg04-03-hr">

    <div class="bg04-03">
        <ul>
            <li>
                <!--###### 이용약관 ######-->
                <a href="{% url 'test' %}" onclick="goPrivacy(event)" class = "bg04-03-li">개인정보 처리방침 이용약관</a>
                <script>
                    function goPrivacy(event) {
                        event.preventDefault();  // 링크 클릭 시 기본 동작(페이지 이동)을 막음
                        // 팝업 창 열기
                        window.open('/test/', '_blank', 'width=600,height=500,scrollbars=yes');
                    }
                </script>
                <!--##############-->
            </li>
            <li><a href="{% url 'contact' %}" class="bg04-03-li">Contact Us</a></li>
            <li><a href="{% url 'about' %}" class="bg04-03-li">About Us</li>
        </ul>
    </div>
    <footer class="bg04-04">
        <div id="bg04-04-01"></div>
        <div class="bg04-04-01">Copyright 2023 AIVLE 2-5.</div>
    </footer>
</footer>
</div>
</body>
</html>